RAS_project_simu/


*.wpc
*.lpr
*.xpr

fifo_pipein/hdl/
fifo_pipein/synth/
fifo_pipein/*.dcp
fifo_pipein/*.xdc
fifo_pipein/*.xml
fifo_pipein/*.v
fifo_pipein/*.vhdl

fifo_pipeout/hdl/
fifo_pipeout/synth/
fifo_pipeout/*.dcp
fifo_pipeout/*.xdc
fifo_pipeout/*.xml
fifo_pipeout/*.v
fifo_pipeout/*.vhdl
