RAS_project_simu/


*.wpc
*.lpr
*.xpr

ip/fifo_pipein/hdl/
ip/fifo_pipein/synth/
ip/fifo_pipein/*.dcp
ip/fifo_pipein/*.xdc
ip/fifo_pipein/*.xml
ip/fifo_pipein/*.v
ip/fifo_pipein/*.vhdl

ip/fifo_pipeout/hdl/
ip/fifo_pipeout/synth/
ip/fifo_pipeout/*.dcp
ip/fifo_pipeout/*.xdc
ip/fifo_pipeout/*.xml
ip/fifo_pipeout/*.v
ip/fifo_pipeout/*.vhdl

ip/fifoHK_pipeout/hdl/
ip/fifoHK_pipeout/synth/
ip/fifoHK_pipeout/*.dcp
ip/fifoHK_pipeout/*.xdc
ip/fifoHK_pipeout/*.xml
ip/fifoHK_pipeout/*.v
ip/fifoHK_pipeout/*.vhdl

bitfile/*

